.authPage {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(23, 23, 23);
  position: relative;
}
.authPage .return {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 24px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.authPage .return img {
  width: 24px;
  height: 24px;
}
.authPage .card-3d-wrap {
  width: 440px;
  height: 450px;
  perspective: 800px;
  text-align: center;
}
.authPage .card-3d-wrap .card-3d-wrapper {
  width: 100%;
  height: 100%;
  transition: transform 600ms ease-out;
  position: relative;
  transform-style: preserve-3d;
}
.authPage .card-3d-wrap .card-3d-wrapper .card-front,
.authPage .card-3d-wrap .card-3d-wrapper .card-back {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  background-color: #2b2e38;
  border-radius: 6px;
  position: absolute;
  backface-visibility: hidden;
  border: 1px solid #ffd700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.authPage .card-3d-wrap .card-3d-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  gap: 60px;
}
.authPage .card-3d-wrap .card-3d-wrapper form .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.authPage .card-3d-wrap .card-3d-wrapper form .inputs .forget {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Inter", sans-serif;
  letter-spacing: 4%;
  font-size: 15px;
}
.authPage .card-3d-wrap .card-3d-wrapper form .inputs label {
  position: relative;
}
.authPage .card-3d-wrap .card-3d-wrapper form .inputs label img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 15px;
  height: 24px;
  width: 24px;
}
.authPage .card-3d-wrap .card-3d-wrapper form .inputs label input {
  width: 350px;
  height: 50px;
  background: rgb(31, 32, 41);
  border-radius: 6px;
  padding: 0 10px 0 50px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.authPage .card-3d-wrap .card-3d-wrapper form .buttons {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.authPage .card-3d-wrap .card-3d-wrapper form .buttons .submit {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  border: 2px solid #575757;
  margin: auto;
  display: inline-block;
  padding: 10px 20px;
  color: #5e5e5e;
}
.authPage .card-3d-wrap .card-3d-wrapper form .buttons .flip-btn {
  font-family: "Inter", sans-serif;
  color: #ffd700;
  font-size: 14px;
}
.authPage .card-3d-wrap .card-3d-wrapper .card-back {
  transform: rotateY(180deg);
}
.authPage .card-3d-wrap .card-3d-wrapper.flipped {
  transform: rotateY(180deg);
}
.authPage .card-3d-wrap .card-3d-wrapper .card__title {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  color: #fff;
}