@media (max-width: 1700px) {
  .price .container {
    max-width: 90%;
  }
  .price .price__cards .card .card__body ul li {
    width: 350px;
  }
  .price .price__cards .card .card__body {
    height: 500px;
  }
}
@media (max-width: 1650px) {
  .intro .title {
    background-position: 40vw 0;
  }
}
@media (max-width: 1600px) {
  .intro .title {
    background-position: 39vw 0;
  }
}
@media (max-width: 1550px) {
  .intro .title {
    background-position: 38vw 0;
  }
}

@media (max-width: 1500px) {
  .about .about__list .about__item .item__body {
    padding: 10px 20px;
  }

  .intro .title .title__text h1 {
    font-size: 38px;
    line-height: 46px;
    max-width: 80%;
  }
  .intro .title .title__text {
    padding-bottom: 50px;
  }
  .about,
  .price {
    padding: 50px 0;
  }
  .about .about__list {
    margin-top: 50px;
    gap: 25px;
  }
  .about .about__title,
  .price .price__title {
    font-size: 38px;
  }
  .about .about__list .about__item .item__body .item__title {
    font-size: 22px;
  }
  .about .about__list .about__item .item__body .item__p {
    line-height: 27px;
    margin: 15px auto 0 auto;
  }
  .price .price__description {
    font-size: 22px;
    margin-top: 30px;
  }
  .price .price__cards .card .card__header {
    height: 60px;
  }
  .price .price__cards .card .card__body ul li {
    font-size: 16px;
  }
  .price .price__cards .card .card__body {
    height: 530px;
    justify-content: space-around;
  }
  .faq {
    padding: 60px 0 20px 0;
  }
  .faq .faq__title {
    font-size: 38px;
  }
  .faq .question__block {
    margin-top: 60px;
  }
}

@media (max-width: 1450px) {
  .intro .title {
    background-position: 37vw 0;
  }
  .intro .header .container {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .intro .header .links {
    gap: 30px;
  }
  .intro .header .logo {
    width: 25px;
    height: 35px;
  }
  .intro .header .links a {
    font-size: 17px;
  }
  .intro .header .links div {
    img {
      width: 26px;
      height: 26px;
    }
  }
  .price .container {
    max-width: 97%;
  }
  .price .price__cards {
    gap: 2%;
  }
  .price .price__cards .card .card__body ul {
    gap: 6px;
  }
  .faq .question__block .accordeon {
    padding: 25px 35px;
  }
  .faq .question__block .accordeon p {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  .intro .title {
    background-position: 60vh 0;
  }
  .intro .title .title__text {
    width: 105vh;
  }
}

@media (max-width: 1300px) {
  .intro .title {
    background-position: 45vh 5vh;
  }
  .intro .title .title__text {
    width: 90vh;
  }
  .about .about__list .about__item .item__body .item__title {
    font-size: 18px;
  }
  .about .about__list .about__item .item__body .item__p {
    font-size: 17px;
    line-height: 20px;
  }
  .about .about__list .about__item .about__image img {
    width: 100px;
    height: 130px;
  }
  .price .price__cards {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  .price .price__cards .card {
    width: 60%;
  }
  .price .price__cards .card .card__body {
    max-height: fit-content;
    height: auto;
  }
  .price .price__cards .card .card__body .subdescription {
    height: auto;
    font-size: 16px;
  }
  .price .price__cards .card .card__footer a {
    font-size: 18px;
  }
  .price .price__cards .card .card__footer span {
    font-size: 14px;
  }
  .faq .question__block .accordeon button {
    font-size: 20px;
  }
  .faq .question__block .accordeon p.open {
    font-size: 16px;
  }
  .faq {
    padding: 40px 0 20px 0;
  }
  .faq .question__block {
    margin-top: 40px;
  }
  .price .price__description {
    font-size: 20px;
  }
  .price .price__cards .card .card__header span {
    font-size: 19px;
  }
}
@media (max-width: 1200px) {
  .intro .title {
    background-size: cover;
    background-position: 260px 0;
  }
  .intro .title .title__text {
    width: 630px;
  }
  .intro .title .title__text h1 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 1000px) {
  .intro .title .title__text {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .intro .title {
    background: url("../../assets/bar.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .intro .title .title__text h1 {
    max-width: 85%;
    font-size: 28px;
    line-height: 32px;
  }
  .about .about__title,
  .price .price__title {
    font-size: 32px;
  }
  .price .price__cards .card {
    width: 90%;
  }
  .faq .faq__title {
    font-size: 32px;
  }
  .faq .question__block .accordeon button {
    font-size: 18px;
  }
  .faq .question__block .accordeon p.open {
    font-size: 15px;
  }
  .faq .question__block {
    gap: 15px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 95%;
  }
  .about .about__list .about__item {
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .about .about__title, .price .price__title {
    font-size: 28px;
  }
  .intro .title .title__text .title__button {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
  .price .price__description {
    font-size: 18px;
    max-width: 90%;
    margin: 30px auto 0 auto;
  }
  .price .price__description .underline {
    border: none;
  }
  .price .price__cards {
    margin-top: 40px;
  }
  .price .price__cards .card .card__body .subdescription {
    margin-top: 20px;
  }
  .about, .price {
    padding: 40px 0;
  }
  .about .about__list .about__item .about__image {
    display: none;
  }
  .about .about__list .about__item .item__body {
    text-align: center;
  }
  .about .about__list .about__item .item__body .item__p {
    font-size: 16px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .intro .title .title__text h1 {
    line-height: 20px;
    font-size: 24px;
  }
  .price .price__cards .card .card__body .subdescription {
    line-height: 18px;
  }
  .price .price__cards .card .card__body ul li {
    width: 300px;
  }
  .faq .question__block .accordeon button {
    max-width: 90%;
    &:after {
      right: -25px;
    }
  }
}

//header
@media (max-width: 700px) {
  .price .price__cards .card .card__header {
    height: 45px;
  }
  .price .price__cards .card .card__body .subdescription {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 20px;
  }
  .price .price__cards .card .card__footer a {
    font-size: 16px;
    width: 170px;
    height: 40px;
  }
  .price .price__cards .card .card__footer {
    margin-top: 30px;
  }
  .faq .question__block .accordeon p.open {
    line-height: 18px;
  }
  .faq .question__block .accordeon button {
    font-size: 16px;
  }
  .faq .question__block .accordeon button:after {
    width: 16px;
    height: 16px;
    background-size: cover;
  }
  .about .about__list .about__item:nth-child(2), .about .about__list .about__item:nth-child(4) {
    flex-direction: row-reverse;
  }
  .intro .title .title__text h1 {
    line-height: 36px;
  }
  .intro .header .logo {
    display: none;
  }
  .intro .header nav {
    max-width: 98%;
    width: 100%;
    height: 55px;
  }
  .intro .header .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .intro .header nav ul {
    width: 100%;
    height: 55px;
  }
  .intro .header .header__nav .header__list .header__item a {
    font-size: 15px;
  }
  .intro .header .header__nav .header__list .header__item {
    gap: 0px;
    img {
      display: none;
    }
  }
  .intro .header .header__nav .header__list {
    gap: 0;
  }
}